<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role.name}"></td>
        <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>
        <td><a th:href="@{/update/{id}(id=${user.id})}">Update</a></td>
    </tr>
    </tbody>



</table>
</body>
</html>